:root {
    /* Colours from tango */
    --white: #ffffff;
    --yellow: #fce94f;
    --green: #8ae234;
    --orange: #fcaf3e;
    --brown: #e9b96e;
    --blue: #729fcf;
    --purple: #ad7fa8;
    --grey: #888a85;
    --red: #ef2929;
    --teal: #34e2e2;
}

html, body {
    font: 20px 'DejaVu Sans Mono', 'consolas', 'Lucida Console', monospace;
    background-color: #1a1a1a;
    color: var(--white);
}

/* Prompt */
.prompt-text {font-weight: bold;}
.user-host {color: var(--green);}
.prompt-path {color: var(--blue);}

.prompt-command {
    white-space: break-spaces;
}

#active-prompt input {
    width: 0;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
}

#cursor {
    position: relative;
}

#cursor > span{
    position: absolute;
    display: inline-block;
    background-color: var(--white);
    color: black;
    white-space: pre;
}

@keyframes blink {  
    to {
        visibility: hidden;
    }
}

.blink {
    animation: blink 1.5s steps(2, start) infinite;
}

.command-output {
    white-space: pre-wrap;
}

.sorting a, .sorting.a:visited {
    color: var(--white);
}

.entry a {
    color: inherit;
    text-decoration: none;
}
.entry a:hover {
    text-decoration: underline;
}

.dir {
    color: var(--blue);
    font-weight: bold;
}
.image {
    color: var(--purple);
}
.video {
    color: var(--purple);
}
.audio {
    color: var(--teal);
}
.archive {
    color: var(--red);
}
