<div style="columns: {{ num_columns }}">
{%- for entry in file_list -%}
<span class="entry"><span class="{{ entry.type }}">{{ entry.quote_char -}}
    <a href="{{ entry.url }}">{{ entry.name }}</a>{{ entry.quote_char }}</span></span>
{% endfor -%}
</div>