<span class="sorting"><a href="{{ relative_link }}?o=s{{ 'a' if sorting.col == 'size' and sorting.dir == 'desc' else 'd' }}">size</a>
{%- if sorting.col == 'size' %}{{ '▴' if sorting.dir == 'asc' else '▾' }}{% else %} {% endif %}
{{- (size_col_len - 4) * ' ' }}<a href="{{ relative_link }}?o=m{{ 'a' if sorting.col == 'time' and sorting.dir == 'desc' else 'd' }}">modified</a>
{%- if sorting.col == 'time' %}{{ '▴' if sorting.dir == 'asc' else '▾' }}{% else %} {% endif %}
{{- '     ' }}<a href="{{ relative_link }}?o=n{{ 'd' if sorting.dir == 'asc' else 'a' }}">name</a>
{%- if sorting.col == 'name' %}{{ '▴' if sorting.dir == 'asc' else '▾' }}{% else %} {% endif %}</span>
{% for entry in file_list -%}
<span class="entry">{{ entry.size.rjust(size_col_len) }} {{ entry.modified_str }} <span class="{{ entry.type }}">{{ entry.quote_char -}}
    <a href="{{ entry.url }}">{{ entry.name }}</a>{{ entry.quote_char -}}</span></span>
{% endfor %}
