<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{ title }}</title>
        <link rel="stylesheet" href="{{ url('static', filename='main.css') }}">
        <script src="{{ url('static', filename='main.js') }}"></script>
        <link rel="icon" href="{{ url('static', filename='icon.svg') }}">
    </head>
    <body>
        <template id="prompt-template">
            <div class="prompt-line"><span class="prompt-text"><span class="user-host">user@mikkis.net</span>:<span class="prompt-path">{{ pwd }}</span></span><span class="prompt-symbol">$</span> <span class="prompt-command"></span></div>
        </template>
        <div class="prompt-line"><span class="prompt-text"><span class="user-host">user@mikkis.net</span>:<span class="prompt-path">{{ pwd }}</span></span><span class="prompt-symbol">$</span> 
            <span class="prompt-command">
            {{- command -}}
            </span>
        </div>
        <div class="command-output">
            {{- command_output -}}
        </div>
        <span class="prompt-line" id="active-prompt">
            <span class="prompt-text"><span class="user-host">user@mikkis.net</span>:<span class="prompt-path">{{ pwd }}</span></span><span class="prompt-symbol">$</span>
            <input type="text"><span class="prompt-command">{{ '' -}}
                <span id="pre"></span>{{ '' -}}
                <span id="cursor" class="blink"><span>&nbsp;</span></span>{{ '' -}}
                <span id="post"></span>{{ '' -}}
            </span>
        </span>
    </body>
</html>
